/* color variables*/
:root {
    --primary-color: #e4d1d1;
    --secondary-color: #b9b0b0;
    --tertiary-color: #d9ecd0;
    --background-color: #77a8a8;
    --favorable: hsl(98, 100%, 27%);
    --moderate: rgb(247, 205, 38);
    --severe: hsl(6, 64%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background: var(--background-color);
}

header {
    background-image: linear-gradient(to right,hsl(221, 90%, 24%),var(--background-color));
    text-align: center;
}

h1 {
    color: var(--primary-color);
    padding: 0.5rem;
    font-size: 2.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.first-col {
    flex: 25%;
}
